name: Bazziai Forever
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *'
jobs:
  run-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install -r requirements.txt gunicorn
      - name: Download & Run Tunnel
        run: |
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb
          gunicorn app:app & 
          cloudflared tunnel run --url http://127.0.0.1:8000 bazziai-link
